/* Custom styles for rectangle dots */
.slick-dots {
    bottom: -30px; /* Adjust dot position */
    display: none;
  }
  
  .slick-dots li {
    margin: 0 20px; /* Add space between the rectangle dots */
  }
  
  .slick-dots li button:before {
    content: ""; /* Replace with a custom rectangle */
    display: inline-block;
    width: 40px; /* Rectangle width */
    height: 4.5px; /* Rectangle height */
    background-color: #ffffff;
    border-radius: 4px; /* Slightly rounded corners */
    opacity: 0.75; /* Default opacity */
    margin-top: 14.7px;
  }
  
  .slick-dots li.slick-active button:before {
    background-color: red; /* Active rectangle color */
    opacity: 1; 
  }
  
  /* Optionally add hover effects */
  .slick-dots li button:hover:before {
    background-color: red;
    opacity: 1;
  }
  


  /* make-dissapear the slider button */
.slick-prev,
.slick-next {
  display: none !important;
}




/* *{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #7aacff;
}

.container{
  width: 90%;
  position: absolute;
  transform: translate(0, -50%);
  top: 100%;
  left: 50%;
  overflow: hidden;
  border: 20px solid white;
  border-radius: 8px ;
  box-shadow: 10px 25px 30px rgb(30, 30, 200, 0.3);
}

.wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

img{
  width: 100%;
}

@keyframes slide{
  0%{
    transform:translate(0);
  }
  25%{
    transform: translate(0);
  }
  30%{
    transform: translate(-100%);
  }

  50%{
    transform: translate(-100%);
  }

  55%{
    transform: translate(-200%);
  }

  75%{
    transform: translate(-200%);
  }

  80%{
    transform: translate(-300%);
  }

  100%{
    transform: translate(-300%);
  }
} */